body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.analysis-container {
    max-width: 600px;
    width: 100%;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
}

h2 {
    color: #007bff;
    font-size: 2.8rem;
    margin-bottom: 30px;
}

.result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.result-title {
    flex: 1;
    font-weight: bold;
    font-size: 1.4rem;
    color: #555;
    text-align: left;
}

.result-value {
    flex: 1;
    font-size: 1.4rem;
    color: #555;
    text-align: right;
}
#go-back-btn.go-back {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 5px 10px;
    font-size: 14px;
    background-color: transparent;
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#go-back-btn.go-back:hover {
    background-color: #007bff;
    color: #fff; 
}