body {
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.forgot-password-container {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.forgot-password-container h2 {
    margin-bottom: 20px;
}

.forgot-password-container p {
    margin-bottom: 20px;
}

.forgot-password-form input,
.forgot-password-form button {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.forgot-password-form button {
    background: linear-gradient(to right, #F21A5B, #7C3349);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

.forgot-password-form button:hover {
    background: #0056b3;
}

/* Smaller font size for the link */
.forgot-password-form a {
    font-size: 0.8em;
    color: #6c757d;
    text-decoration: none;
}

.forgot-password-form a:hover {
    text-decoration: underline;
}
